# MATLAB Release

name: MATLAB Release

on:
  workflow_dispatch:
  release:
    types: [created]
  push:
    branches: [main]

defaults:
  run:
    shell: bash

# Enable a permission to save a file.
# The use of the writelines command in MATLAB needs it.
permissions:
  contents: write

jobs:
  mytry1:
    name: Run a job

    runs-on: ubuntu-latest

    env:
      Matlab_Release: R2025b
      Filename: "matlab-release.txt"

    steps:

    - name: Check out the repository
      uses: actions/checkout@v5

    - name: Set up MATLAB ${{ env.Matlab_Release }}
      uses: matlab-actions/setup-matlab@v2
      with:
        release: ${{ env.Matlab_Release }}
        cache: true

    - name: Run MATLAB
      uses: matlab-actions/run-command@v2
      with:
        command: writelines(matlabRelease.Release, "${{ env.Filename }}")

    - name: After running MATLAB
      # This is an example of creating a bash variable from the content of a single-line text file.
      # (This is useful to build the filename of a zip archive.)
      run: |
        MATLAB_RELEASE=$(< ${{ env.Filename }} )
        echo "MATLAB Release: $MATLAB_RELEASE"
